* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1{font-size: 2rem;}
h2{font-size: 1.8rem;}
h3{font-size: 1.6rem;}
h4{font-size: 1.4rem;}
p, a{font-size: 1rem;}

a {
    text-decoration: none;
    color: black;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#index-grid {
    max-width: 1200px;
    margin: 0 auto;
}

#product-grid {
    max-width: 1200px;
    margin: 0 auto;
}

#checkout-grid {
    max-width: 1200px;
    margin: 0 auto;
}

#main-nav-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#nav-icons {
    display: flex;
    flex-wrap: wrap;
}

#main-nav-menu form {
    position: relative;
}

#main-nav-menu form input, button {
    padding: 10px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    background-color: white;
}

#main-nav-menu form label {
    visibility: hidden;
    position: absolute;
}

#banner {
    display: flex;
    background-color: rgb(192, 191, 191);
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    padding: 25px;
    margin: 15px;
    text-align: right; /* To force the text, the ingress, to align properly to the right, which flex-end does not fully accomplish */
}

#banner a {
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

#filter-buttons {
    display: flex;
    width: 100%;
    list-style: none;
}

#filter-buttons li {
    border-style: solid;
    border-width: thin;
    border-color: black;
    width: 100px;
    padding: 0;
    margin: 10px;
}

#filter-buttons li a {
    display: block; /* To make the whole area inside the border clickable */
    padding: 15px;
}

.category-card {
    border-style: solid;
    border-width: thin;
    border-color: black;
    display: flex;
    width: auto; /*This needs to chagne when adding pictures*/
    max-width: 350px;
    height: 250px;
    padding: 98.4px; /* This is the value shown in the inspector tool in the browser when looking at the area inside the padding in box model inside the Layout tab*/
    margin: 10px;
    display: block;
    text-align: center;
    font-weight: bold;
    h3{font-size: medium;}
}

.review-card {
    border-style: solid;
    border-width: thin;
    border-color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: auto;
    max-width: 350px;
    align-items: flex-start;
    h3{font-size: medium; font-weight: bold;}
}

#footer {
    display: flex;
    border-top-style: solid;
    border-width: thin;
}

#shortcuts ul {
    list-style: none;
}

/* Product page */

#breadcrumbs ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0%;
}

#breadcrumbs ul li {
    display: inline;
    padding: 10px;
}

#breadcrumbs ul li+li:before {
    padding: 10px;
    content: ">";
}

#product-area article picture img {
    width: 100%;
    max-width: 450px;
}

#product-area h2 {
    display: none; /* Mabye change this since screen readers apparently cannot read this now */
}

.product-area-sub h3 {
    display: none;
}

#product-info {
    display: flex;
    flex-direction: column;
}

#product-info p {
    padding: 5px;
    margin: 0;
}

.aside-product-sub {
    display: flex;
    flex-direction: column;
    padding: 10px;
    a{font-size: 1em;}
}

/* Checkout page */

#shopping-cart {
    display: flex;
}

.shopping-cart-sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    a{font-size: 1em;}
}

.shopping-cart-sub h3 {
    margin-bottom: 5px;
    font-size: larger;
}

.shopping-cart-sub p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#personal-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h3{font-size: larger; margin-bottom: 0;}
}

#personal-details form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
}

#personal-details form input {
    padding: 15px;
    margin: 5px;
}

.hidden-label {
    visibility: hidden;
    position: absolute;
}

#delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h3{font-size: larger;}
}

#delivery form {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

#delivery form label {
    display: flex;
    flex-direction: row; /* Tried with row-reverse to get the radio button on the left side of the text, but then i couldnt get them to both not align on the right side of the screen */
    align-items: flex-start;
    padding: 15px;
    margin: 0;
    font-weight: bold;
}

#payment button { /* I was going to make this an a-tag so it would be clickable, but the text says its supposed to be a button */
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

/* For Mobile */
@media only screen and (max-width: 800px) {

    #grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto; /* Might not need this later since we built this mobile first */
    }

    #main-nav-menu {
        width: 100%;
    }

    #main-nav-menu ul {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }

    #main-nav-menu form {
        width: 100%;
    }

    #nav-icons {
        flex-direction: column;
        width: 100%;
    }

    #nav-icons a {
        padding: 5px;
    }

    #most-popular-products {
        display: flex;
        flex-direction: column;
    }

    #most-popular-products {
        display: flex;
        flex-direction: column;
    }

    #filter-buttons {
        padding-left: 0%;        
        justify-content: space-around;  
    }

    .product-card {
        display: flex;
        flex-direction: column;
        a{font-size: 1em;}
    }

    #most-popular-categories {
        display: flex;
        flex-direction: column;
    }

    #footer {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
    }

    #contact-info address i {
        padding: 5px;
        margin: 5px;
    }

    #shortcuts ul { /* Just to remove the padding on the left of the list, and move it closer to the border of the screens left-hand side, 
        and make it align better with the other footer elements */
        padding: 0px;
    }

    #shortcuts ul li {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 5px;
        margin: 5px;

    }

    #social-media i {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 5px;
        margin: 5px;
    }

    #aside-product {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .aside-product-sub {
        width: 100%;
        align-items: center;
    }

    #shopping-cart {
        flex-direction: column;
    }

    #shopping-cart article picture img {
        width: 100%;
        max-width: 450px;
    }

    .shopping-cart-sub {
        width: 100%;
    }

    #payment {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h3{font-size: larger;}
    }
    
    #payment form {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    
    #payment-conditions label {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 15px;
        margin: 0;
        font-weight: bold;
    }

    #payment-card-details input {
        width: 100%;
        max-width: 450px;
        padding: 15px;
        margin: 0;
    }

    #payment-card-details label {
        padding: 0;
        margin: 0;
    }
}

/* For Desktop */
@media only screen and (min-width: 800px) {
    #index-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto; /* For responsive scaling */
        row-gap: 1rem;
    }

    /*Header*/
    #header {
        display: flex;
        grid-row: 1;
    }

    #main-nav-menu {
        align-items: center;
        flex-grow: 1;
    }

    #nav-form { /*Search bar*/
        display: block;
        padding: 2rem;
        align-items: flex-start;
        flex-grow: 1;
    }

    #nav-ul { /*Logo and links*/
        display: flex;
        margin: 10px;
        flex-grow: 2;
    }

    #nav-ul li {
        flex-grow: 1;
    }

    #nav-ul h1 {
        margin-top: 0;
    }

    #nav-ul a {
        margin-top: 25px;
    }

    #nav-icons a { /*Icons*/
        display: flex;
        padding: 1rem;
        display: inline;
        align-items: flex-end;
        flex-grow: 1;
    }

    #index-main-grid {
        display: grid;
        grid-template-rows: auto auto auto auto;
    }

    /*Footer*/
    #footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    #footer-logo {
        grid-column-start: 1;
        grid-column-end: 4; /* This way it takes up the whole area, like the text states it should, but Grid can still be used */
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #contact-info {
        grid-column: 1;
        grid-row: 2;
        padding-left: 20px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
    }

    #contact-info address i {
        padding: 10px;
    }

    #shortcuts {
        grid-column: 2;
        grid-row: 2;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
    }

    #shortcuts ul {
        padding-left: 0;
    }

    #shortcuts ul li {
        padding: 10px;
    }

    #social-media {
        grid-column: 3;
        grid-row: 2;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
    }

    #social-media a {
        padding: 10px;
        display: flex;
        flex-direction: row;
    }
}